<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit author</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<h1>Edit author</h1>
<p>
    <a href="/authors">author list</a>
</p>
<form th:action="@{/edit-author}" th:object="${author}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Age :</td>
            <td><input type="text" th:field="*{age}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update author"></td>
        </tr>
    </table>
</form>
</body>
</html>