<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<a href="/create-author">Create new Author</a>
<h1>Author</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="author : ${author}">
        <tr>
            <td th:text="${author.id}"></td>
            <td th:text="${author.name}"></td>
            <td th:text="${author.age}"></td>
            <td><a th:href="@{/edit-author/__${author.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-author/__${author.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>