div#status {
    position: fixed;
    font-size: 24px;
}

.card {
    width: 100%;
    height: auto;
}

.card-image {
    width: 100%;
    height: auto;
}

.image-tag {
    color: black;
    text-decoration: none;
}

.image-tag:hover {
    color: darkgray;
    text-decoration: none;
}